.post {
  // margin: 16px;
  padding: 16px;

  border-radius: 20px;

  background-color: #4c4c4c;
  color: #e3e3e3;
  border: 1px solid #5e5e5e;

  // height: 150px;
  // min-height: 150px;
  width: 400px;
  break-inside: avoid;
  margin-bottom: 16px;

  p {
    font-size: 24px;
    text-align: left;
  }
}
