.create-new-post {
  &-btn {
    max-width: 1250px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-size: 24px;
    border: 0;
    margin: 24px 0;
    padding: 0 16px;
    text-align: left;
    cursor: pointer;

    transition: 300ms;
  }

  &-input {
    background-color: white;
    color: black;
    border: 0;
    min-height: 150px;
    width: 100%;
    font-size: 16px;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &-submit {
    width: 100%;
    height: 35px;
    margin-top: 24px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}
