.post {
  margin: 16px;
  padding: 16px;

  border-radius: 10px;

  background-color: floralwhite;
  color: black;

  height: 150px;
  width: 400px;

  p {
    font-size: 24px;
    text-align: center;
  }
}
